node_modules
# Keep environment variables out of version control
.env
migrations

package-lock.json
yarn.lock

# macOS
.DS_Store
.vercel

# prisma
prisma/.env
prisma/.env.development
prisma/.env.production
prisma/.env.test
prisma/migrations
prisma/database/